@mixin container($maxwidth, $minwidth, $padding: 15) {
    max-width: $maxwidth + ($padding * 2) + px;
    min-width: $minwidth + px ;
    margin: 0 auto;
    padding:  {
        right: $padding + px;
        left: $padding + px;
    }
}
.container {
    @include container(1240, 320);
}
.clearfix{
    @include clearfix;
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}
.mb0{
    margin-bottom: 0 !important;
}
h3.title {
    font-size: 18px;
    font-weight: 800;
    color: $dg;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid $ac;
}
h2.title{
    @extend h3.title;
    font-size: 16px;
}
body{
    background-color: #fcfcfc;
}