extends _layout.pug
block main
    main.bonus
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Бонусы 
        .container.bonus-container
            .bonus-banner-wrap
                .ban-img
                    img(src="img/bonus-banner.jpg", alt="")
                    .banner-dtls.clearfix
                        .ban-dscr.fl-l
                            h3.
                                Получайте больше услуг и товаров, <br>
                                платите меньше денег!
                            p
                                | Хотите сэкономить до 
                                span 50% 
                                | на следующем заказе? <br> Просто покупайте у нас и собирайте 
                                span бонусные баллы!
                            a(href="#").btn
                                | Подключиться к программе
                        .atc-prod.fl-r
                            span В акции участвуют 12 000 товаров
        .container.bonus-content
            .artical-container
                .artical-title
                    span 
                        | Вы - тратите деньги на покупки, мы - возвращаем их часть бонусами!
                .artical-content
                    .bonus-items
                        .bonus-item
                            .b-img
                                img(src="img/bonus-1.png", alt="")
                            .b-dscr
                                p.
                                    У нас курс не меняется: <br>
                                    1 балл=1 рублю
                        .bonus-item
                            .b-img
                                img(src="img/bonus-2.png", alt="")
                            .b-dscr
                                p.
                                    Не установлено
                                    ограничений по сроку
                                    использования бонусов
                        .bonus-item
                            .b-img
                                img(src="img/bonus-3.png", alt="")
                            .b-dscr
                                p.
                                    Введены специальные
                                    подарочные баллы
                        .bonus-item
                            .b-img
                                img(src="img/bonus-4.png", alt="")
                            .b-dscr
                                p.
                                    Бонусы привязаны
                                    исключительно к номеру
                                    мобильного
        .container.bonus-info.bonus-info-1
            .artical-container
                .artical-title
                    h3.title
                        | как получить бонусы?
                .artical-content
                    .bonus-info-title
                        span.b-info-1.b-info--active
                            | В интернет-магазине 
                        span.b-info-2
                            | В обычном магазине 
                    .bonus-items.b-info-content-1
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                        .bonus-item
                            .b-img
                                img(src="img/bonus-6.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 2
                                p.
                                    В разделе "Бонусный клуб"
                                    укажите номер своего
                                    мобильного телефона
                        .bonus-item
                            .b-img
                                img(src="img/bonus-7.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 3
                                p.
                                    Получите SMS с кодом
                                    подтверждения и введите его
                                    на сайте
                        .bonus-item
                            .b-img
                                img(src="img/bonus-8.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 4
                                p.
                                    Получите баллы уже при
                                    следующей покупке
                    .bonus-items.b-info-content-2.dn
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
        .container.bonus-info.bonus-info-2
            .artical-container
                .artical-title
                    h3.title
                        | как потратить?
                .artical-content
                    .bonus-cours-money
                        span 
                            | 1 Балл = 1 Р
                    .bonus-info-title
                        span.b-info-1.b-info--active
                            | В интернет-магазине 
                        span.b-info-2
                            | В обычном магазине 
                    .bonus-items.b-info-content-1
                        .bonus-item
                            .b-img
                                img(src="img/bonus-9.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    На сайте АСАО.ru войдите
                                    в личный кабинет
                        .bonus-item
                            .b-img
                                img(src="img/bonus-10.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 2
                                p.
                                    При оформлении заказа
                                    выберите пункт "Использовать баллы"
                        .bonus-item
                            .b-img
                                img(src="img/bonus-11.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 3
                                p.
                                    Оплатите часть заказа бонусами
                    .bonus-items.b-info-content-2.dn
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                        .bonus-item
                            .b-img
                                img(src="img/bonus-5.png", alt="")
                            .b-dscr
                                span
                                    | Шаг 1
                                p.
                                    Войдите в личный кабинет
                                    или зарегистрируйтесь
                    .bonus-more-info
                        a(href="#").btn 
                            | Начать копить бонусы
                        a(href="#").more-info
                            | Подробные правила участия
                        p
                            | * Бонусами можно оплатить не более 50% стоимости заказа. Доставка таким образом не оплачивается.