extends _layout.pug
block main
    main.catalogs
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-2
                        a(href="#") Документация 
                    li.breadcrumbs-item--active-3
                        a(href="#") Электронные каталоги
        .container.clearfix
            aside.page-sidebar.fl-l
                .sidebar-container
                    ul.page-aside-list
                        li.page-aside-link--active
                            a(href="catalogs.html") Электронные каталоги
                        li 
                            a(href="sertificates.html") Сертификаты
                        li 
                            a(href="#") Подбор оборудования
                        li 
                            a(href="#") Опросные листы
                        li 
                            a(href="insturtions.html") Инструкции
                .sidebar-container.mb0
                    span.f-t Звоните нам!
                    span.s-d 8 (812) 821 52 54
                    p г. Санкт-Петербург, ул. Строителей, 25 офис 121
                    a(href="#")
                        | Перезвоните мне


            artical.news-content.catalogs-content.accord.fl-l
                .artical-container
                    .artical-title
                        h3.title
                            | Электронные каталоги
                    .artical-content.clearfix
                        p.
                            При помощи наших каталогов Вы сможете подобрать насосы, установки и соответствующие принадлежности 
                            и системы автоматизации. 
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог
                                li
                                    a(href="#") Ссылка на каталог