extends _layout.pug
block main
    main.discount
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Акции 
        .container.discount-content
            .artical-container
                .artical-title
                    span 
                        | Подпишитесь на информацию об акциях и спецпредложениях!
                .artical-content
                    span 
                        | Подпишитесь на нашу e-mail рассылку, чтобы быть в курсе всех самых выгодных акционных предложений ASAO.ru!
                    form#subscribe
                        input(type="text" placeholder="Ваш E-mail").s_input
                        button(type="submit").s_button Подписаться                    
        
        .container.discount-product
            .artical-container
                .artical-title
                    h3.title
                        | акции
                .artical-content
                    .d_product-wrapper
                        .d_product-item
                            .d_info
                                p Сроки Акции: 
                                    span с 01.09 по 31.10
                            .d_img
                                img(src="img/d-1.jpg", alt="")
                            .d_dscr
                                span.dscr_title 
                                    | Большая распродажа в магазине АСАО.ru
                                p.dscr_info
                                    | Экономьте на технике, экономьте на доставке! <br>
                                    span Скидки до 70% 
                                    | на Hummer, Wester и
                                    | Gravizappa при самовывозе товаров.
                            .d_options.clearfix
                                .price.fl-l
                                    p.oldprice Старая цена: 
                                        span 38 790 Р
                                    p.newprice Новая цена: 
                                        span 24 036 Р.
                                .price-btn.fl-r
                                    a(href="#")
                                        | Узнай больше
                        .d_product-item
                            .d_info
                                p Сроки Акции: 
                                    span с 01.09 по 31.10
                            .d_img
                                img(src="img/d-1.jpg", alt="")
                            .d_dscr
                                span.dscr_title 
                                    | Большая распродажа в магазине АСАО.ru
                                span.dscr_info
                                    | Экономьте на технике, экономьте на доставке! <br>
                                    span Скидки до 70% 
                                    | на Hummer, Wester и
                                    | Gravizappa при самовывозе товаров.
                            .d_options.clearfix
                                .price.fl-l
                                    p.oldprice Старая цена: 
                                        span 38 790 Р
                                    p.newprice Новая цена: 
                                        span 24 036 Р.
                                .price-btn.fl-r
                                    a(href="#")
                                        | Узнай больше
                        .d_product-item
                            .d_info
                                p Сроки Акции: 
                                    span с 01.09 по 31.10
                            .d_img
                                img(src="img/d-1.jpg", alt="")
                            .d_dscr
                                span.dscr_title 
                                    | Большая распродажа в магазине АСАО.ru
                                span.dscr_info
                                    | Экономьте на технике, экономьте на доставке! <br>
                                    span Скидки до 70% 
                                    | на Hummer, Wester и
                                    | Gravizappa при самовывозе товаров.
                            .d_options.clearfix
                                .price.fl-l
                                    p.oldprice Старая цена: 
                                        span 38 790 Р
                                    p.newprice Новая цена: 
                                        span 24 036 Р.
                                .price-btn.fl-r
                                    a(href="#")
                                        | Узнай больше
