extends _layout.pug
block main
    main.equipment
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Подбор оборудования
        .container
            .artical-container.equipment-container
                .artical-title
                    h3.title Подбор оборудования
                .artical-content.equipment-content
                    p.
                        Мы предлагаем вам услугу комплексного подбора оборудования для проектов различной сложности. Чтобы воспользоваться ею, позвоните нам по одному из 
                        телефонов, указанных на сайте, пришлите заполненный опросный лист (либо пожелания к товару) и свои реквизиты на е-мэйл podbor@lunda.ru или другим 
                        удобным вам способом свяжитесь с вашим личным менеджером. Мы вышлем вам предложение в течение 1-2 рабочих дней.
                    span Производится подбор оборудования следующих категорий:
                    ul 
                        li котельное оборудование и дымоходы;
                        li запорная и регулирующая арматура;
                        li оборудование для напольного отопления;
                        li контрольно-измерительные приборы и автоматика – КИПиА;
                        li насосное оборудование;
                        li водоотведение, очистные установки и дренаж;
                        li теплообменное оборудование и системы регулирования.