extends _layout.pug
block main
    main.feedback
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Обратная связь 
        .container
            .artical-container
                .artical-title
                    h3.title
                        | УВАЖАЕМЫЕ КЛИЕНТЫ И ПАРТНЕРЫ!
                .artical-content.feedback-content
                    p.
                        Наша компания следит за качеством оказываемых услуг и делает всё возможное для их улучшения. Главный критерий качества – Ваше мнение. Когда мы видим 
                        Ваши слова благодарности – мы понимаем, что находимся на верном пути!
                    p.
                        Если у Вас есть желание сказать нам «Спасибо» Вы можете сделать это в простой форме ниже. Укажите пожалуйста конкретные наши действия и/или имя нашего сотрудника, которые превзошли Ваши ожидания – это поможет нам правильно расставить акценты в работе и вознаградить коллегу за превосходную работу! 
                .feedback-intro.clearfix
                    .f-i
                        img(src="img/f-b.jpg", alt="")
                    .f-d
                        h3
                            | Наша главная цель - быть удобне и лиже к нашим партнерам.
                        p
                            | Клиентоориентированость - для нас не просто слово, а 
                            span задача №1!
                        p
                            | Мы будем Вам благодарны за любой отзыв, положительный или <br>
                            | отрицательный, по выполнению задекларированых нами обязательств.
                        span Коллектив компании АСАО 
                .th-btns
                    a(href="#").btn
                        | Сказать “Спасибо”
                    a(href="#").btn
                        | Указать на проблему
                    a(href="#").btn
                        | Письмо директору 
        .container
            .artical-container
                .artical-title
                    h3.title
                        | Принципы и стандарты работы
                .artical-content
                    .feedback-items 
                        .feedback-item
                            .fb-i
                                i.fa.fa-check-circle-o(aria-hidden='true')
                                p.
                                    100% выполнение <br>
                                    обязательств
                            .fb-i
                                i.fa.fa-comments-o(aria-hidden='true')

                                p.
                                    Уважение к мнению <br>
                                    клиента
                            .fb-i
                                i.fa.fa-envelope-o(aria-hidden='true')                  
                                p.
                                    Обратная связь <br>
                                    к клиенту
                            .fb-i
                                i.fa.fa-users(aria-hidden='true')
                                p.
                                    Профессионализм <br>
                                    в работе
                            .fb-i
                                i.fa.fa-bullhorn(aria-hidden='true')
                                p.
                                    Оперативность ответов <br>
                                    на запросы
                            .fb-i
                                img(src="img/f-f.png", alt="")
                                p.
                                    Уведомления об <br>
                                    этапах заказа
                            .fb-i
                                i.fa.fa-sitemap(aria-hidden='true')
                                p.
                                    Принцип <br>
                                    "одного окна"
                            .fb-i
                                i.fa.fa-handshake-o(aria-hidden='true')
                                p.
                                    Доброжелательность <br>
                                    в общении
                            .fb-i
                                i.fa.fa-cogs(aria-hidden='true')
                                p.
                                        Информационная <br>
                                        поддержка
