extends _layout.pug
block main
    main.bonus
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Клиентам 
        .container.bonus-container
            .bonus-banner-wrap.clients-banner-wrap
                .ban-img
                    img(src="img/cl-b.jpg", alt="")
                    .banner-dtls.clearfix
                        .ban-dscr.fl-l
                            h3.
                                Качественное обслуживание
                            p
                                | Основная цель нашей компании - <br>
                                span забота о каждом клиенте

        .container.for_clients-content
                .artical-container
                    .artical-title
                        h3.title
                            | Уважаемый клиент!
                    .artical-content
                        p.
                            На данной странице мы разместили информацию о нашем бизнесе, которая может быть интересной и полезной для Вас. Для удобства ознакомления она разбита
                            на разделы. Хотите перейти в нужный раздел – нажмите на его картинку. Если Вы не нашли ответ на свой вопрос, хотите что-то предложить или оставить комментарий
                            по поводу работы нашей компании – воспользуйтесь «Книгой отзывов и предложений». Мы будем очень признательны и гарантируем обратную связь. Полезного Вам 
                            просмотра!
        .container.for_clients-info
                .artical-container
                    .artical-content
                        .clients-items.fl-l
                            .clients-item
                                .img
                                    img(src="img/c-1.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-2.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-3.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-4.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-5.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-6.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                        .clients-items.fl-r
                            .clients-item
                                .img
                                    img(src="img/c-7.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-8.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-9.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-10.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-11.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
                            .clients-item
                                .img
                                    img(src="img/c-12.png", alt="")
                                .dscr
                                    span
                                        | Как сделать заказ
                                    p.
                                        В этом разделе содержится информация
                                        о правилах и способах приобретения
                                        товара в нашем магазине.
        .container.for_clients-book
                .artical-container
                    .artical-title
                        h3.title
                            | Книга отзывов и предложений
                    .artical-content
                        p.
                            В этом разделе вы можете оставить свой комментарий по <br> поводу работы нашей компании.
                        .cl-form-wrap
                            form(action="/").clearfix   
                                .inputs.fl-l
                                    label(for="name")
                                        input.cl-n(type="text" placeholder="Имя")
                                    label(for="email")
                                        input.cl-e(type="email" placeholder="E-mail")                                
                                .inputs.fl-l
                                    label(for="feedback")
                                        textarea.cl-f(placeholder="Текст отзыва")
                                button(type="submit").btn
                                    | Отправить отзыв