extends _layout.pug
block main
    main.garancy
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Гарантии и возврат
        .container.garancy-container
            .garancy-content
                .artical-container
                    .artical-title
                        h3.title
                            | гарантии и возврат
                    .artical-content.clearfix
                        .garancy-items-wrap
                            .garancy-item
                                .g-img
                                    img(src="img/g-1.png", alt="")
                                .g-title
                                    span 
                                        | Условия гарантийного обслуживания
                                .g-dscr
                                    p.
                                        Мы осуществляем гарантийное
                                        обслуживание и выполняем
                                        свои обязательства перед
                                        клиентами. Всегда.
                            .garancy-item
                                .g-img
                                    img(src="img/g-2.png", alt="")
                                .g-title
                                    span 
                                        | Moneyback
                                .g-dscr
                                    p.
                                        Мы позволяем своим клиентам
                                        вернуть товар, если он по
                                        каким-либо причинам не подошел,
                                        и забрать свои деньги обратно. 
                            .garancy-item
                                .g-img
                                    img(src="img/g-3.png", alt="")
                                .g-title
                                    span 
                                        | Моментальная замена
                                .g-dscr
                                    p.
                                        Мы меняем приобретенные
                                        товары в течение 1 дня. Без
                                        всяких дополнительных проверок и
                                        экспертиз. 
                            .garancy-item
                                .g-img
                                    img(src="img/g-4.png", alt="")
                                .g-title
                                    span 
                                        | Подбор, установка настройка
                                .g-dscr
                                    p.
                                        Мы предоставляем помощь при
                                        выборе товаров, а также их
                                        настройке и установке. 
        .container
            .garancy-info-items
                .garancy-info-item
                    .sidebar-container
                        h3.sidebar-title
                            | Как заказать?
                        ul.page-aside-list
                            li
                                a(href="#") На сайте
                            li
                                a(href="#") По телефону 
                            li
                                a(href="#") По электронной почте
                            li
                                a(href="#") В магазинах

                .garancy-info-item
                    .sidebar-container
                        h3.sidebar-title
                            | Как оплатить?
                        ul.page-aside-list
                            li
                                a(href="#") При получении
                            li 
                                a(href="#") На сайте 
                            li 
                                a(href="#") В кредит
                            li 
                                a(href="#") Бонусы
                            li 
                                a(href="#") Ценовая политика
                .garancy-info-item
                    .sidebar-container
                        h3.sidebar-title
                            | Как получить?
                        ul.page-aside-list
                            li
                                a(href="#") Адреса и контакты
                            li 
                                a(href="#") Доставка
                            li 
                                a(href="#") Доставка из-за рубежа
                .garancy-info-item
                    .sidebar-container
                        h3.sidebar-title
                            | Обратная связь
                        ul.page-aside-list
                            li
                                a(href="#") Отзывы и предложения
                            li 
                                a(href="#") Мы ВКонтакте
                            li 
                                a(href="#") Мы в Facebook
                            li 
                                a(href="#") Мы в Twitter
                            li 
                                a(href="#") Контакты для поставщиков
                .garancy-info-item
                    .sidebar-container
                        h3.sidebar-title
                            | Корпоративным клиентам
                        ul.page-aside-list
                            li
                                a(href="#") Как заказать товар?
                            li 
                                a(href="#") Как оплатить товар?
                            li 
                                a(href="#") Как получить товар?
                            li 
                                a(href="#") Возврат для юридических лиц
                            li 
                                a(href="#") Наши реквизиты
                .garancy-info-item
                    .sidebar-container
                        h3.sidebar-title
                            | Поставщикам
                        ul.page-aside-list
                            li
                                a(href="#") Контакты для поставщиков
                            li
                                a(href="#") Контакты для поставщиков в раздел сток
                            li
                                a(href="#") Карточка поставщика (скачать файл)
                            li
                                a(href="#") Необходимый список документов


