extends _layout.pug
block main
    main.good
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Стань частью добра
        .container
            .artical-container
                .artical-title
                    h3.title
                        | Стань частью добра
                .artical-content
                    .good-content   
                        p
                            | «Дорогие друзья! На сегодняшний день благотворительность - это, пожалуй, единственная территория, где люди не пытаются реализовывать свои амбиции и достигать каких-либо целей, кроме одной - бескорыстная помощь человеку. Деятельность нашего Фонда направлена на спасение детей с заболеваниями головного мозга. Любой, даже самый скромный ваш вклад очень важен. Ведь каждая спасенная жизнь - бесценна!»
                            span
                                | С уважением, Константин Хабенский
            .help-info-container
                .artical-container
                    .artical-content
                        .good-man-info.clearfix
                            .g-img.fl-l
                                img(src="img/good.jpg", alt="")
                            .g-dscr.fl-l
                                span.man
                                    | Роман Сафонов
                                ul.man_w
                                    li.clearfix 
                                        span
                                            p Диагноз:
                                            p Синдром Шерешевского-Тернера
                                    li.clearfix 
                                        span
                                            p Сколько необходимо собрать:
                                            p 40 000р.
                                    li.clearfix 
                                        span 
                                            p Осталось собрать:
                                            p 28 000р.


                                a(href="#").btn 
                                    | Помочь
                .artical-container
                    .need-help
                        span
                            | Нужна помощь?
                        a(href="#")
                            | Обращайтесь 
                            i.fa.fa-long-arrow-right(aria-hidden='true')

            .artical-container.help-people-items
                .artical-content
                    .help-people-item
                        .p-img
                            img(src="img/good.jpg", alt="")
                        .p-dscr
                            span.b-name 
                                | Александра Ермолаева
                            p 
                                span Диагноз: 
                                | Синдром Шерешевского-Тернера
                            p 
                                span Сколько необходимо собрать: 
                                | 20 000 р.
                            p 
                                span Осталось собрать:
                                | 6 000 р.
                    .help-people-item
                        .p-img
                            img(src="img/good.jpg", alt="")
                        .p-dscr
                            span.b-name 
                                | Александра Ермолаева
                            p 
                                span Диагноз: 
                                | Синдром Шерешевского-Тернера
                            p 
                                span Сколько необходимо собрать: 
                                | 20 000 р.
                            p 
                                span Осталось собрать:
                                | 6 000 р.
                    .help-people-item
                        .p-img
                            img(src="img/good.jpg", alt="")
                        .p-dscr
                            span.b-name 
                                | Александра Ермолаева
                            p 
                                span Диагноз: 
                                | Синдром Шерешевского-Тернера
                            p 
                                span Сколько необходимо собрать: 
                                | 20 000 р.
                            p 
                                span Осталось собрать:
                                | 6 000 р.
                    .help-people-item
                        .p-img
                            img(src="img/good.jpg", alt="")
                        .p-dscr
                            span.b-name 
                                | Александра Ермолаева
                            p 
                                span Диагноз: 
                                | Синдром Шерешевского-Тернера
                            p 
                                span Сколько необходимо собрать: 
                                | 20 000 р.
                            p 
                                span Осталось собрать:
                                | 6 000 р.
                    .help-people-item
                        .p-img
                            img(src="img/good.jpg", alt="")
                        .p-dscr
                            span.b-name 
                                | Александра Ермолаева
                            p 
                                span Диагноз: 
                                | Синдром Шерешевского-Тернера
                            p 
                                span Сколько необходимо собрать: 
                                | 20 000 р.
                            p 
                                span Осталось собрать:
                                | 6 000 р.
                .show-all
                    a(href="news.html")
                        | Все люди
                                
            .help-info-news.clearfix.main
                .main__bestsellers-wrap.news__bestsellers-wrap.main__bestsellers-wrap.news-slider-wrapper
                    .container
                        .left-intro.fl-l
                            .sliders-title
                                h2.title
                                    | Видеоматериалы
                            .video-container
                                iframe(width='560', height='315', src='https://www.youtube.com/embed/mkjwxmcdb0E', frameborder='0', allowfullscreen='')
                            .show-all
                                a(href="#")
                                    | Все видеоматериалы
                        .bestsellerItems-wrapper.fl-r
                            .sliders-title
                                h2.title
                                    | Новости компании
                            .bestsellerItems-slider.news-slider
                                .bestseller-item
                                    .b-img
                                        img(src="img/n-1.jpg", alt="")
                                    .b-dscr
                                        span Нам 10 лет
                                        p 1 ноября компания отмечает юбилей.Мощные акции на весь ноябрь! Так же...
                                        a(href="#") Читать далее
                                .bestseller-item
                                    .b-img
                                        img(src="img/n-2.jpg", alt="")
                                    .b-dscr
                                        span Нам 10 лет
                                        p 1 ноября компания отмечает юбилей.Мощные акции на весь ноябрь! Так же...
                                        a(href="#") Читать далее
                                .bestseller-item
                                    .b-img
                                        img(src="img/n-3.jpg", alt="")
                                    .b-dscr
                                        span Нам 10 лет
                                        p 1 ноября компания отмечает юбилей.Мощные акции на весь ноябрь! Так же...
                                        a(href="#") Читать далее
                                .bestseller-item
                                    .b-img
                                        img(src="img/n-1.jpg", alt="")
                                    .b-dscr
                                        span Нам 10 лет
                                        p 1 ноября компания отмечает юбилей.Мощные акции на весь ноябрь! Так же...
                                        a(href="#") Читать далее
                                .bestseller-item
                                    .b-img
                                        img(src="img/n-2.jpg", alt="")
                                    .b-dscr
                                        span Нам 10 лет
                                        p 1 ноября компания отмечает юбилей.Мощные акции на весь ноябрь! Так же...
                                        a(href="#") Читать далее
                            .show-all
                                a(href="news.html")
                                    | Все новости
                        .qretsd
                            a(href="#")
                                | Часто задаваемые вопросы 
                                i.fa.fa-long-arrow-right(aria-hidden='true')
        .container
            .artical-container
                .artical-title
                    h3.title
                        | Наши проекты
                .artical-content
                    .our-projs
                        .our-proj   
                            .o-img
                                img(src="img/c-s/s-1.jpg", alt="")
                            .o-dscr
                                a(href="#") 
                                    | Промышленный комплекс
                        .our-proj   
                            .o-img
                                img(src="img/c-s/s-1.jpg", alt="")
                            .o-dscr
                                a(href="#") 
                                    | Промышленный комплекс
                        .our-proj   
                            .o-img
                                img(src="img/c-s/s-1.jpg", alt="")
                            .o-dscr
                                a(href="#") 
                                    | Промышленный комплекс