extends _layout.pug
block main
    main.legal
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Юридическим лицам
        .container.bonus-content
            .artical-container
                .artical-title
                    h3.title 
                        | Оптовые продажи
                .artical-content
                    .legal-content
                        .bonus-items
                            .bonus-item
                                .b-img
                                    img(src="img/bonus-5.png", alt="")
                                .b-dscr
                                    p.
                                        На рынке <br>
                                        с 1999 года
                            .bonus-item
                                .b-img
                                    img(src="img/bonus-3.png", alt="")
                                .b-dscr
                                    p.
                                        Доставка <br>
                                        по всей России
                            .bonus-item
                                .b-img
                                    img(src="img/arms.png", alt="")
                                .b-dscr
                                    p.
                                        Дилерские <br>
                                        цены
                            .bonus-item
                                .b-img
                                    img(src="img/bonus-6.png", alt="")
                                .b-dscr
                                    p.
                                        Отсрочка <br>
                                        платежа
        .container
            .artical-container
                .artical-title
                    h3.title 
                        | Получить коммерческое предложение по вашей спецификации в течение 55 минут.
                .artical-content
                    .legal-content-form
                        p
                            | Укажите контактные данные, и наш менеджер свяжется с Вами.
                        .form-subscribe-wrap
                            form(action="/").subscribe-form    
                                label(for="name")
                                    input(type="text" placeholder="Имя")
                                label(for="name")
                                    input(type="text" placeholder="Телефон")
                                label(for="email")
                                    input(type="email" placeholder="E-mail")
                                button(type="submit").btn Отправить
            .artical-container
                .artical-title
                    h3.title 
                        | Полный ассортимент
                .artical-content
                    .grid-list
                        ul  
                            li
                                a(href="#") Насосное оборудование
                            li
                                a(href="#") Водонагреватели
                        ul
                            li
                                a(href="#") Отопительные приборы
                            li
                                a(href="#") Тепловые насосы
                        ul
                            li
                                a(href="#") Мембранные баки
                            li
                                a(href="#") Котельное оборудование
                        ul
                            li
                                a(href="#") Комплектующие
                            li
                                a(href="#") Канализация
                        ul
                            li
                                a(href="#") Пластиковые баки
                            li
                                a(href="#") Мотопомпы
        .container.bonus-content
            .artical-container
                .artical-title
                    h3.title 
                        | С кем мы работаем
                .artical-content.ww-items
                    .bonus-items
                        .bonus-item
                            .b-img
                                i.fa.fa-wrench(aria-hidden='true')
                            .b-dscr
                                p.
                                    Частные монтажники <br>
                                    и монтажные организации
                        .bonus-item
                            .b-img
                                img(src="img/bonus-11.png", alt="")
                            .b-dscr
                                p.
                                    Строительные компании <br>
                                    и торговые центры
                        .bonus-item
                            .b-img
                                i.fa.fa-desktop(aria-hidden='true')
                            .b-dscr
                                p.
                                    Управляющие компании, <br>
                                    ТСЖ
                        .bonus-item
                            .b-img
                                i.fa.fa-cart-arrow-down(aria-hidden='true')
                            .b-dscr
                                p.
                                    Торговые <br>
                                    компании
                        .bonus-item
                            .b-img
                                img(src="img/bonus-10.png", alt="")
                            .b-dscr
                                p.
                                    Государственные <br>
                                    учреждения
                        .bonus-item
                            .b-img
                                i.fa.fa-picture-o(aria-hidden='true')
                            .b-dscr
                                p.
                                    Студии дизайна <br>
                                    и архитектуры
        .container.bonus-content
            .artical-container
                .artical-title
                    h3.title 
                        | ТЫСЯЧИ ПОСТОЯННЫХ КЛИЕНТОВ
                .producers-slider-wrap.js_scrollSlider-wrap
                    .producers-slider.js_producersSlider
                        .slide
                            .producer
                                img.grayscale(src='img/p-1.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-2.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-3.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-4.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-5.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-6.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-1.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-2.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-3.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-4.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-5.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-6.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-1.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-2.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-3.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-4.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-5.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-6.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-1.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-2.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-3.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-4.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-5.jpg' alt='')
                        .slide
                            .producer
                                img.grayscale(src='img/p-6.jpg' alt='')
                    div.scroll-line
                        input.range(type='text', value='', name='range')
        .container
            .artical-container
                .artical-title
                    h3.title 
                        | СКЛАДСКАЯ ПРОГРАММА
                .artical-content
                    .stock-block
                        ul
                            li
                                p
                                    | Центральный склад 
                                    span 3 000м;                                                            
                            li
                                p
                                    span 11 
                                    | складов в каждом районе СПБ;                                                            
                            li
                                p
                                    span 2 
                                    |склада в Москве;
            .artical-container
                .artical-title
                    h3.title 
                        | Собственный парк автомобилей
                .artical-content
                    .park-cars.clearfix
                        .p-l.fl-l
                            a(href="img/park/p-1.jpg" data-lightbox="zil")
                                img(src="img/park/p-1.jpg", alt="")
                        .p-r.fl-r.clearfix
                            a(href="img/park/p-2.jpg" data-lightbox="zil")
                                img(src="img/park/p-2.jpg", alt="")
                            a(href="img/park/p-3.jpg" data-lightbox="zil")
                                img(src="img/park/p-3.jpg", alt="")
                            a(href="img/park/p-4.jpg" data-lightbox="zil")
                                img(src="img/park/p-4.jpg", alt="")
                            a(href="img/park/p-5.jpg" data-lightbox="zil")
                                img(src="img/park/p-5.jpg", alt="")
                            a(href="img/park/p-6.jpg" data-lightbox="zil")
                                img(src="img/park/p-6.jpg", alt="")
                            a(href="img/park/p-7.jpg" data-lightbox="zil")
                                img(src="img/park/p-7.jpg", alt="")


        .container.bonus-content
            .artical-container
                .artical-title
                    h3.title 
                        | С кем мы работаем
                .artical-content.ww-items
                    .bonus-items
                        .bonus-item
                            .b-img
                                i.fa.fa-gift(aria-hidden='true')
                            .b-dscr
                                p.
                                    Накопительная <br>
                                    система скидок
                        .bonus-item
                            .b-img
                                i.fa.fa-sitemap(aria-hidden='true')
                            .b-dscr
                                p.
                                    Тендерные <br>
                                    поставки
                        .bonus-item
                            .b-img
                                i.fa.fa-shopping-bag(aria-hidden='true')
                            .b-dscr
                                p.
                                    Поставка товара, <br>
                                    отсутствующего в ассортименте.
                        .bonus-item
                            .b-img
                                i.fa.fa-wrench(aria-hidden='true')
                            .b-dscr
                                p.
                                    Аренда <br>
                                    инструмента
                        .bonus-item
                            .b-img
                                i.fa.fa-truck(aria-hidden='true')
                            .b-dscr
                                p.
                                    Бесплатнная доставка <br>
                                    от 30 000 руб.
                        .bonus-item
                            .b-img
                                i.fa.fa-user(aria-hidden='true')
                            .b-dscr
                                p.
                                    Индивидульные <br> 
                                    менеджер

        .container
            .artical-container
                .artical-title
                    h3.title 
                        | Собственный парк автомобилей
                .artical-content
                    .park-cars-items
                        .park-cars-slider
                            .park-cars.clearfix
                                .p-l.fl-r
                                    a(href="img/proj/p-7.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-7.jpg", alt="")
                                .p-r.fl-l.clearfix
                                    a(href="img/proj/p-6.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-6.jpg", alt="")
                                    a(href="img/park/p-5.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-5.jpg", alt="")
                                    a(href="img/park/p-4.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-4.jpg", alt="")
                                    a(href="img/park/p-3.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-3.jpg", alt="")
                                    a(href="img/park/p-2.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-2.jpg", alt="")
                                    a(href="img/park/p-1.jpg" data-lightbox="dom#1")
                                        img(src="img/proj/p-1.jpg", alt="")
                            .park-cars.clearfix
                                .p-l.fl-l
                                    a(href="img/proj/p-7.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-7.jpg", alt="")
                                .p-r.fl-r.clearfix
                                    a(href="img/proj/p-6.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-6.jpg", alt="")
                                    a(href="img/park/p-5.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-5.jpg", alt="")
                                    a(href="img/park/p-4.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-4.jpg", alt="")
                                    a(href="img/park/p-3.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-3.jpg", alt="")
                                    a(href="img/park/p-2.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-2.jpg", alt="")
                                    a(href="img/park/p-1.jpg" data-lightbox="dom#2")
                                        img(src="img/proj/p-1.jpg", alt="")

        .container
            .artical-container
                .artical-title
                    h3.title 
                        | Профессиональная компетентность
                .artical-content
                    .stock-block.st-pad
                        p.
                            Менеджеры компании являются экспертами в области сантехнического оборудования, и профессионально подберут необходимый товар по спецификации 
                            заказчика. <br> <br>
                        p   Каждый сотрудник проходит сертификацию в собственной Академии.

        .container
            .artical-container
                .artical-title
                    h3.title 
                        | Получить коммерческое предложение по вашей спецификации в течение 55 минут.
                .artical-content
                    .legal-content-form
                        p
                            | Укажите контактные данные, и наш менеджер свяжется с Вами.
                        .form-subscribe-wrap
                            form(action="/").subscribe-form    
                                label(for="name")
                                    input(type="text" placeholder="Имя")
                                label(for="name")
                                    input(type="text" placeholder="Телефон")
                                label(for="email")
                                    input(type="email" placeholder="E-mail")
                                button(type="submit").btn Отправить