extends _layout.pug
block main
    main.manufacturer
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-2
                        a(href="#") Документация 
                    li.breadcrumbs-item--active-3
                        a(href="#") Пресс-центр
        .container.clearfix
            aside.page-sidebar.fl-l
                .sidebar-container
                    h3.sidebar-title
                        | производители
                    form.clearfix.manufacturer-fomr-s
                        fieldset.maintenance__form-radio
                            label.additions__checkbox
                                input(type='checkbox' name='person' checked)
                                span.checkbox
                                span.text Grundfos
                            label.additions__checkbox
                                input(type='checkbox' name='person')
                                span.checkbox
                                span.text Wilo
                            label.additions__checkbox
                                input(type='checkbox' name='person' )
                                span.checkbox
                                span.text AEG
                            label.additions__checkbox
                                input(type='checkbox' name='person')
                                span.checkbox
                                span.text Pedrollo
                            label.additions__checkbox
                                input(type='checkbox' name='person' )
                                span.checkbox
                                span.text AEG
                            label.additions__checkbox
                                input(type='checkbox' name='person')
                                span.checkbox
                                span.text Pedrollo
                            label.additions__checkbox
                                input(type='checkbox' name='person')
                                span.checkbox
                                span.text Grundfos
                            label.additions__checkbox
                                input(type='checkbox' name='person')
                                span.checkbox
                                span.text Wilo
                            label.additions__checkbox
                                input(type='checkbox' name='person' )
                                span.checkbox
                                span.text AEG
                            label.additions__checkbox
                                input(type='checkbox' name='person')
                                span.checkbox
                                span.text Pedrollo
                        fieldset.maintenance__form-radio
                            button(type="submit")
                                | Показать все
            artical.news-content.fl-l
                .artical-container
                    .artical-title
                        h3.title
                            | Направления оборудование
                    .artical-content    
                        .obord-wrapper
                            form.clearfix.maintenance__form
                                fieldset.maintenance__form-radio
                                    label.additions__checkbox
                                        input(type='checkbox' name='person' checked)
                                        span.checkbox
                                        span.text Насосное оборудование
                                    label.additions__checkbox
                                        input(type='checkbox' name='person')
                                        span.checkbox
                                        span.text Котельное оборудование
                                    label.additions__checkbox
                                        input(type='checkbox' name='person' )
                                        span.checkbox
                                        span.text Водонагреватели
                                    label.additions__checkbox
                                        input(type='checkbox' name='person')
                                        span.checkbox
                                        span.text Комплектующие
                                fieldset.maintenance__form-radio
                                    label.additions__checkbox
                                        input(type='checkbox' name='person' checked)
                                        span.checkbox
                                        span.text Отопительные приборы 
                                    label.additions__checkbox
                                        input(type='checkbox' name='person')
                                        span.checkbox
                                        span.text Канализация
                                    label.additions__checkbox
                                        input(type='checkbox' name='person' )
                                        span.checkbox
                                        span.text Тепловые насосы
                                    label.additions__checkbox
                                        input(type='checkbox' name='person')
                                        span.checkbox
                                        span.text Пластиковые баки
                                fieldset.maintenance__form-radio
                                    label.additions__checkbox
                                        input(type='checkbox' name='person' checked)
                                        span.checkbox
                                        span.text Мембранные баки
                                    label.additions__checkbox
                                        input(type='checkbox' name='person')
                                        span.checkbox
                                        span.text Мотопомпы
                .companies-logos
                    span
                        | a-f
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-1.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-2.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-3.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-4.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-5.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-6.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-7.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-8.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-9.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-10.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-11.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-12.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-13.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-14.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-15.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-16.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-17.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-18.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-19.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-20.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-21.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-22.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-23.jpg", alt="")
                .companies-logos
                    span
                        | g-l
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-24.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-25.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-26.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-27.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-28.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-29.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-30.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-31.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-32.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-33.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-34.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-35.jpg", alt="")
                .companies-logos
                    span
                        | m-r
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-36.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-37.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-38.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-39.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-40.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-41.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-42.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-43.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-44.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-45.jpg", alt="")
                .companies-logos
                    span
                        | s-z
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-46.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-47.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-48.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-49.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-50.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-51.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-52.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-53.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-54.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-55.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-56.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-57.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-58.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-59.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-60.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-61.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-62.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-63.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-64.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-65.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-66.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-67.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-68.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-69.jpg", alt="")
                    .artical-container
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-70.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-71.jpg", alt="")

                .companies-logos
                    span
                        | а-я
                    .artical-container                     
                        .artical-content
                            .prod-imgs
                                .prod-img
                                    img(src="img/m-imgs/m-72.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-73.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-74.jpg", alt="")
                                .prod-img
                                    img(src="img/m-imgs/m-75.jpg", alt="")