extends _layout.pug
block main
    main.montag
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Монтажные работы
        .container.montag-container
            .montag-banner-wrap
                .ban-img
                    img(src="img/montag.jpg", alt="")
                    .banner-dtls.clearfix
                        .ban-dscr.fl-l
                            h3.
                                Проектирование, комплектация, монтаж и обслуживание
        .container.bonus-content.montag-content
            .artical-container
                .artical-content
                    .bonus-items
                        .bonus-item
                            .b-img
                                img(src="img/bonus-6.png", alt="")
                            .b-dscr
                                span
                                    | 11 лет <br> на рынке
                        .bonus-item
                            .b-img
                                img(src="img/bonus-11.png", alt="")
                            .b-dscr
                                span 
                                    | Более 15 000 <br> выполненных работ
                        .bonus-item
                            .b-img
                                img(src="img/bonus-2.png", alt="")
                            .b-dscr
                                span 
                                    | От 1 дня срок <br> выполнения работ
                        .bonus-item
                            .b-img
                                img(src="img/arms.png", alt="")
                            .b-dscr
                                span 
                                    | 5 лет <br> гарантиии
        .container.bonus-content.montag-info
            .artical-container
                .artical-title
                    h3.title 
                        | Популярные услуги
                .artical-content
                    .bonus-items.montag-slider-wrap
                        .montag-items-slider
                            .bonus-item
                                .b-img
                                    img(src="img/d-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Название услуги
                                .d_options.clearfix
                                    .price.fl-l
                                        p.newprice От 
                                            span 24 036 Р.
                                    .price-btn.fl-r
                                        a(href="#")
                                            | Заказать
                            .bonus-item
                                .b-img
                                    img(src="img/d-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Название услуги
                                .d_options.clearfix
                                    .price.fl-l
                                        p.newprice От 
                                            span 24 036 Р.
                                    .price-btn.fl-r
                                        a(href="#")
                                            | Заказать
                            .bonus-item
                                .b-img
                                    img(src="img/d-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Название услуги
                                .d_options.clearfix
                                    .price.fl-l
                                        p.newprice От 
                                            span 24 036 Р.
                                    .price-btn.fl-r
                                        a(href="#")
                                            | Заказать
                        