extends _layout.pug
block main
    main.news
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-2
                        a(href="#") Документация 
                    li.breadcrumbs-item--active-3
                        a(href="#") Пресс-центр
        .container.clearfix
            aside.page-sidebar.fl-l
                .sidebar-container
                    h3.sidebar-title
                        | Пресс-центр
                    ul.page-aside-list
                        li
                            a(href="#") 
                                span.fl-l Ноябрь
                                span.fl-r (3)
                        li
                            a(href="#") 
                                span.fl-l Ноябрь
                                span.fl-r (3)
                        li
                            a(href="#") 
                                span.fl-l Ноябрь
                                span.fl-r (3)
                        li
                            a(href="#") 
                                span.fl-l Ноябрь
                                span.fl-r (3)
                        li
                            a(href="#") 
                                span.fl-l Ноябрь
                                span.fl-r (3)
                .sidebar-container.mb0
                    h3.sidebar-title
                        | Новости
                    ul.page-aside-list
                        li
                            a(href="news.html") Новости
                        li
                            a(href="useful-articals.html") Cтатьи
                        li.page-aside-link--active
                            a(href="news-comp.html") Выставки

            artical.news-content.fl-l
                .artical-container
                    .artical-title
                        h3.title
                            | Новости компании
                    .artical-content.clearfix
                        .a-img.fl-l
                            a(href="#") 
                                img(src="img/n-1.jpg", alt="")
                        .a-dscr.fl-r
                            span.a-title
                                | Пингвины
                            p.
                                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот...
                            .a-options.clearfix
                                span.date.fl-l 24.01.2017
                                a(href="#").fl-r     
                                    | Читать далее
                .artical-container
                    .artical-content.clearfix
                        .a-img.fl-l
                            a(href="#") 
                                img(src="img/n-1.jpg", alt="")
                        .a-dscr.fl-r
                            span.a-title
                                | Пингвины
                            p.
                                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот...
                            .a-options.clearfix
                                span.date.fl-l 24.01.2017
                                a(href="#").fl-r     
                                    | Читать далее
                .artical-container
                    .artical-content.clearfix
                        .a-img.fl-l
                            a(href="#") 
                                img(src="img/n-1.jpg", alt="")
                        .a-dscr.fl-r
                            span.a-title
                                | Пингвины
                            p.
                                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот...
                            .a-options.clearfix
                                span.date.fl-l 24.01.2017
                                a(href="#").fl-r     
                                    | Читать далее