extends _layout.pug
block main
    main.partners
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Партнеры 
        .container.partners-banner
            .bonus-banner-wrap
                .ban-img
                    img(src="img/partners.jpg", alt="")
                    .banner-dtls.clearfix
                        .ban-dscr.fl-l
                            h3.
                                Наши партнеры <br>
                            h3.
                                Сотрудничество с компанией
        .container
            .artical-container
                .artical-title
                    h3.title 
                        | УВАЖАЕМЫЙ КЛИЕНТ!
                .artical-content.partners-content
                    .partners-intro
                        p.
                            Наша компания старается быть максимально полезной для своих клиентов. С этой целью мы, совместно с партнерами, создаём интересные предложения из разных отраслей бизнеса. Ниже представлены наши действующие партнёрские программы с их кратким описанием. Мы будем рады, если они помогут решить Ваши задачи. Если Вы хотите стать нашим партнёром, пожалуйста, сделайте нам предложение через простую форму запроса ниже и мы оперативно свяжемся с Вами для обсуждения условий.                    
            .artical-container.partners-container
                .artical-content
                    .partners-items
                        .partners-item
                            .p-img
                                img(src="img/p-logo.png", alt="")
                            .p-dscr
                                h3
                                    | НАШ ПАРТНЁР - СТАРЕЙШАЯ БИЗНЕС-ШКОЛА РОССИИ «СИНЕРГИЯ»
                                span
                                    | - проводит главное бизнес-событие года – SYNERGY GLOBAL FORUM 2016
                                p.
                                    Спикеры: Г. Кавасаки, Д.Аллен, Далай-Лама 14, Б.Шефер, И.Манн и многие другие. 
                                    Клиентам «Рутектора» предоставляется скидка 15% на приобретение билетов - назовите промокод 
                                    «RUTECTOR» при заказе билетов. Подробности мероприятия можно узнать на официальном сайте форума. 
                                    Обязательно посетите это мероприятие – вы получите уникальные практические советы от высочайших 
                                    специалистов своего дела иудивительных людей, а также мощный позитивный эмоциональный заряд!
            .artical-container.partners-container
                .artical-content
                    .partners-items
                        .partners-item
                            .p-img
                                img(src="img/p-logo.png", alt="")
                            .p-dscr
                                h3
                                    | НАШ ПАРТНЁР - СТАРЕЙШАЯ БИЗНЕС-ШКОЛА РОССИИ «СИНЕРГИЯ»
                                span
                                    | - проводит главное бизнес-событие года – SYNERGY GLOBAL FORUM 2016
                                p.
                                    Спикеры: Г. Кавасаки, Д.Аллен, Далай-Лама 14, Б.Шефер, И.Манн и многие другие. 
                                    Клиентам «Рутектора» предоставляется скидка 15% на приобретение билетов - назовите промокод 
                                    «RUTECTOR» при заказе билетов. Подробности мероприятия можно узнать на официальном сайте форума. 
                                    Обязательно посетите это мероприятие – вы получите уникальные практические советы от высочайших 
                                    специалистов своего дела иудивительных людей, а также мощный позитивный эмоциональный заряд!
            .artical-container.partners-container
                .artical-content
                    .partners-items
                        .partners-item
                            .p-img
                                img(src="img/p-logo.png", alt="")
                            .p-dscr
                                h3
                                    | НАШ ПАРТНЁР - СТАРЕЙШАЯ БИЗНЕС-ШКОЛА РОССИИ «СИНЕРГИЯ»
                                span
                                    | - проводит главное бизнес-событие года – SYNERGY GLOBAL FORUM 2016
                                p.
                                    Спикеры: Г. Кавасаки, Д.Аллен, Далай-Лама 14, Б.Шефер, И.Манн и многие другие. 
                                    Клиентам «Рутектора» предоставляется скидка 15% на приобретение билетов - назовите промокод 
                                    «RUTECTOR» при заказе билетов. Подробности мероприятия можно узнать на официальном сайте форума. 
                                    Обязательно посетите это мероприятие – вы получите уникальные практические советы от высочайших 
                                    специалистов своего дела иудивительных людей, а также мощный позитивный эмоциональный заряд!
            .artical-container.partners-container
                .artical-content
                    .partners-items
                        .partners-item
                            .p-img
                                img(src="img/p-logo.png", alt="")
                            .p-dscr
                                h3
                                    | НАШ ПАРТНЁР - СТАРЕЙШАЯ БИЗНЕС-ШКОЛА РОССИИ «СИНЕРГИЯ»
                                span
                                    | - проводит главное бизнес-событие года – SYNERGY GLOBAL FORUM 2016
                                p.
                                    Спикеры: Г. Кавасаки, Д.Аллен, Далай-Лама 14, Б.Шефер, И.Манн и многие другие. 
                                    Клиентам «Рутектора» предоставляется скидка 15% на приобретение билетов - назовите промокод 
                                    «RUTECTOR» при заказе билетов. Подробности мероприятия можно узнать на официальном сайте форума. 
                                    Обязательно посетите это мероприятие – вы получите уникальные практические советы от высочайших 
                                    специалистов своего дела иудивительных людей, а также мощный позитивный эмоциональный заряд!




