extends _layout.pug
block main
    main.payment
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Оплата
        .container
            .artical-container.payment-container
                .artical-title
                    h3.title Способы оплаты
                .artical-content.equipment-content
                    p.tac.
                        Оплата заказа производится только после 
                        подтверждения заказа и получения счета 
                        от нашего менеджера! <br>
                        Счет можно оплатить следующими способами:
            .artical-container.payment-container
                .artical-title
                    h3.title Оплата по счету банковским переводом
                .artical-content.equipment-content
                    p.
                        Безналичный расчет возможен как для юридических, 
                        так и для физических лиц. Оплата производится на 
                        расчетный счет ООО «Лунда» на основании 
                        сформированного счета. <br>
                        При заполнении бланка банковского перевода 
                        обязательно указывайте номер заказа в комментарии 
                        к платежу. В случае оплаты счета без указания его 
                        номера в платежном поручении, отгрузка товара 
                        производиться не будет. <br>
                        Оплата производится через любой банк, действующий на 
                        территории России. При оплате банком может 
                        взиматься комиссионный сбор. Денежные средства  
                        зачисляются в счет оплаты заказа только
                        после их поступления на наш расчетный 
                        счет (перечисление денег может занять 
                        от 2 до 10 дней).
            .artical-container.payment-container
                .artical-title
                    h3.title Оплата наличными
                .artical-content.equipment-content
                    p
                        | Оплата наличными возможна при получении заказа, 
                        | доставленного транспортом ООО «Лунда», а также 
                        | при получении заказа самовывозом. <br>
                        span
                            | Внимание! 
                        | При покупке некоторых групп товаров 
                        | требуется внести предоплату. В этом случае после 
                        | оформления заказа Ваш личный менеджер 
                        | подготовит договор-счет, в котором будут указаны 
                        | сроки поставки товара. Внести предоплату вы 
                        | сможете удобным для вас способом.
            .artical-container.payment-container
                .artical-title
                    h3.title Online-оплата банковскими картами платежных систем Visa и MasterCard
                .artical-content.equipment-content.equipment-content-list
                    span
                        | Для проведения оплаты:
                    ul
                        li На сайте lunda.ru кликните по ссылке «Проверить заказ» (находится в шапке сайта).
                        li Во всплывающем окне введите номер заказа и любой код товара из него и нажмите кнопку «Проверить статус».
                        li Нажмите кнопку «Оплатить заказ»; система предложит вам ввести сумму оплаты и перейти на страницу сервера системы электронных платежей GateLine.net.
                        li.
                            Ввести данные пластиковой карты, после чего будет проведена ее авторизация. В случае отказа в авторизации карты вы можете вернуться назад 
                            и воспользоваться другими способами оплаты.
                    p.
                        При получении товара, оплаченного этим способом, необходимо будет предъявить паспорт владельца карты либо человека, паспортные данные 
                        которого были указаны при покупке. В случае отмены заказа его стоимость возвращается на карту, с которой была произведена оплата.
                    span
                        | Наши реквизиты:
                    p.
                        Полное наименование: Общество с ограниченной ответственностью «АСАО» <br>
                        Юридический адрес: ИНН: 0000000000 КПП: 000000000