extends _layout.pug
block main
    main.planning
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Проектирование
        .container
            .artical-container
                .artical-title
                    h3.title 
                        | Проектирование
                .artical-content
                    .planning-content
                        .planning-info
                            span
                                | Для чего нужен проект предстоящих работ?
                            p.
                                Любая система требует точного расчета. 
                                И выбор оборудования и материалов 
                                во многом зависит от индивидуальных характеристик 
                                Вашего помещения. Именно поэтому перед началом работ 
                                по созданию системы отопления, водоснабжения, 
                                вентиляции или электрической разводки нужно рассчитать 
                                и тщательно продумать все до мелочей — создать 
                                проект. И в этом мы готовы Вам помочь!
                            ul.planning-list
                                span
                                    | Для разработки Вашего уникального проекта мы:
                                li
                                    img(src="img/pi-3.png", alt="")
                                    p
                                        | направим инженера на Ваш объект для сбора данных и получения технического задания
                                li
                                    img(src="img/pi-2.png", alt="")
                                    p
                                        | подготовим современное и функциональное решение Ваших задач
                                li
                                    img(src="img/pi-1.png", alt="")
                                    p
                                        | выполним все необходимые расчёты и подготовим проект с учетом всех Ваших пожеланий в кратчайшие сроки
                        .planning-img
                            img(src="img/planning.jpg", alt="")
                    .planning-footer
                        p
                            | Внимание! При комплексном заказе оборудования и монтажных работ мы вернем Вам 50% от стоимости проекта! <br>
                        p
                            a(href="#").ac
                                | Оставьте заявку 
                            | прямо сейчас, а все остальное мы сделаем сами!