extends _layout.pug
block main
    main
        .container
            .popup-contacts
                .artical-container
                    .artical-title
                        h3.title 
                            | Заказать обратный звонок
                    .artical-content       
                        .contacts-popup_form
                            form.registration__form
                                fieldset.registration__form-inputs
                                    .line
                                        input(type='text' name='name' placeholder='Имя*')
                                        input(type='text' name='phone' placeholder='Телефон*')
                                    .line
                                        input(type='text' name='email' placeholder='E-mail')
                                        input(type='email' name='time' placeholder='Удобное время для звонка')
                                p
                                    | (*) - обязательно для заполнения
                                button(type="submit").btn
                                    | Отправить