extends _layout.pug
block main
    main.prod_catalog
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Вакансии 
        .container.prod_catalog-container
            .vacansy-title
                h3.title 
                    | ВАКАНСИИ КОМПАНИИ “АСАО”
            .vacansy-content
                .prod_catalog-items
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Насосное оборудование
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Скважинные насосы
                                li 
                                    a(href="#") Колодезные насосы
                                li 
                                    a(href="#") Бытовые насосные станции
                                li 
                                    a(href="#") Поверхностные насосы
                                li 
                                    a(href="#") Дозировочные насосы
                                li 
                                    a(href="#") Циркуляционные насосы
                                li 
                                    a(href="#") Дренажные насосы
                                li 
                                    a(href="#") Фекальные насосы
                                li 
                                    a(href="#") Канализационные установки
                                li 
                                    a(href="#") Принадлежности к насосам
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Пластиковые баки
                            ul.page-aside-list
                                li 
                                    a(href="#") Пластиковые баки для дизельного топлива
                                li 
                                    a(href="#") Пластиковые баки для воды
                                li 
                                    a(href="#") Комплектующие к пластиковым бакам
                                li 
                                    a(href="#") Емкости цилиндрические вертикальные
                                li 
                                    a(href="#") Емкости цилиндрические горизонтальные
                                li 
                                    a(href="#") Емкости конусообразные
                                li 
                                    a(href="#") Емкости подземные
                                li 
                                    a(href="#") Емкости на с\х опрыскивателей и коммунальной техники
                                li 
                                    a(href="#") Емкости в обрешетке
                                li 
                                    a(href="#") Пластиковые контейнеры
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Котельное оборудование
                            ul.page-aside-list
                                li 
                                    a(href="#") Газовые напольные котлы 
                                li 
                                    a(href="#") Газовые настенные котлы
                                li 
                                    a(href="#") Комбинированные котлы
                                li 
                                    a(href="#") Твердотопливные котлы
                                li 
                                    a(href="#") Электрические котлы
                                li 
                                    a(href="#") Бойлеры косвенного нагрева
                                li 
                                    a(href="#") Теплонакопители
                                li 
                                    a(href="#") Газовые горелки
                                li 
                                    a(href="#") Горелки для дизельных котлов
                                li 
                                    a(href="#") Системы управления котлами
                                li 
                                    a(href="#") Комплектующие
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Комплектующие
                            ul.page-aside-list
                                li 
                                    a(href="#") Автоматика для насосов
                                li 
                                    a(href="#") Кабель
                                li 
                                    a(href="#") Обвязка для скважин
                                li 
                                    a(href="#") Стабилизаторы
                                li 
                                    a(href="#") Трубы и шланги
                                li 
                                    a(href="#") Фитинги
                                li 
                                    a(href="#") Теплоноситель
                                li 
                                    a(href="#") Очистка воды
                                li 
                                    a(href="#") Комплектующие
                .prod_catalog-items
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Отопительные приборы
                            ul.page-aside-list
                                li 
                                    a(href="#") Стальные радиаторы
                                li 
                                    a(href="#") Алюминиевые радиаторы
                                li 
                                    a(href="#") Биметаллические радиаторы
                                li 
                                    a(href="#") Конвекторы
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Водонагреватели
                            ul.page-aside-list
                                li 
                                    a(href="#") Электрические накопительные водонагреватели
                                li 
                                    a(href="#") Электрические проточные водонагреватели
                                li 
                                    a(href="#") Емкостные водонагреватели косвенного нагрева
                                li 
                                    a(href="#") Газовые проточные водонагреватели

                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Канализация
                            ul.page-aside-list
                                li 
                                    a(href="#") Септики-танки
                                li 
                                    a(href="#") Автономная канализация
                                li 
                                    a(href="#") Комплектующие к канализационным системам
                                li 
                                    a(href="#") Жироуловители

                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Тепловые насосы
                            ul.page-aside-list
                                li
                                    a(href="#") Геотермальные тепловые насосы
                                li
                                    a(href="#") Воздушные тепловые насосы
                                li
                                    a(href="#") Буферные емкости
                                li
                                    a(href="#") Солнечные коллекторы
                                li
                                    a(href="#") Принадлежности для тепловых насосов
                .prod_catalog-items
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Мембранные баки
                            ul.page-aside-list
                                li
                                    a(href="#") Расширительные баки для систем холодного водоснабжения
                                li
                                    a(href="#") Расширительные баки для систем горячего водоснабжения
                                li
                                    a(href="#") Расширительные баки для систем отопления
                    .garancy-info-item
                        .sidebar-container
                            h3.sidebar-title
                                | Мотопомпы
                            ul.page-aside-list
                                li 
                                    a(href="#") Бензиновые мотопомпы
                                li 
                                    a(href="#") Дизельные мотопомпы
                                li 
                                    a(href="#") Принадлежности к мотопомпам
                                li 
                                    a(href="#") Генераторы