extends _layout.pug
block main
    main.catalogs.instructions.questionnaires
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-2
                        a(href="#") Документация 
                    li.breadcrumbs-item--active-3
                        a(href="#") Электронные каталоги
        .container.clearfix
            aside.page-sidebar.fl-l
                .sidebar-container
                    ul.page-aside-list
                        li
                            a(href="catalogs.html") Электронные каталоги
                        li 
                            a(href="#") Сертификаты
                        li 
                            a(href="#") Подбор оборудования
                        li.page-aside-link--active
                            a(href="questionnaires.html") Опросные листы
                        li
                            a(href="insturtions.html") Инструкции
                .sidebar-container.mb0
                    span.f-t Звоните нам!
                    span.s-d 8 (812) 821 52 54
                    p г. Санкт-Петербург, ул. Строителей, 25 офис 121
                    a(href="#")
                        | Перезвоните мне


            artical.news-content.catalogs-content.fl-l
                .artical-container
                    .artical-title
                        h3.title
                            | Опросные листы
                    .artical-content.clearfix
                        p.
                            Данный раздел поможет квалифицированным специалистам в области подбора насосного оборудования для коммунального
                            и промышленного применения получить техническую консультацию специалистов компании.             
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Отвод и чистка стоков
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Водоснабжение и повышение давления
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Отопление, вентиляция и кондиционирвание

                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Насосы для нестандартных сред
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Водоподготовка
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Оборудование для бассейнов
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Пожаротушение
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Измельчители и дробилки
                        .catalogs-item
                            ul.page-aside-list
                                li
                                    a(href="#") Системы управления
                .feedback-us-instructions.clearfix
                    p.fl-l.
                        Напишите сообщение нашим специалистам и мы обязательно с Вами свяжемся!
                    a(href="#").fl-r Написать сообщение