extends _layout.pug
block main
    main.requisites
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Обслуживание
        .container
            .artical-container
                .artical-title
                    h3.title
                        | Сервисные услуги
                .artical-content
                    .requisites-content.clearfix
                        .r-c.fl-l
                            p
                                span
                                    |Полное наименование: 
                                |Общество с ограниченной ответственностью «АСАО» 
                            p
                                span
                                    |Юридический адрес: 
                                |119435, г. Москва, Саввинская набережная, д. 15
                            p
                                span
                                    |Р/С: 
                                | 00000000000000000000
                        .r-c.fl-r
                            p
                                span
                                    |ИНН: 
                                | 0000000000
                            p
                                span
                                    |КПП:
                                |0000000000