extends _layout.pug
block main
    main.catalogs.sertificates
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-2
                        a(href="#") Документация 
                    li.breadcrumbs-item--active-3
                        a(href="#") Электронные каталоги
        .container.clearfix
            aside.page-sidebar.fl-l
                .sidebar-container
                    ul.page-aside-list
                        li
                            a(href="catalogs.html") Электронные каталоги
                        li.page-aside-link--active
                            a(href="sertificates.html") Сертификаты
                        li 
                            a(href="#") Подбор оборудования
                        li 
                            a(href="questionnaires.html") Опросные листы
                        li 
                            a(href="insturtions.html") Инструкции
                .sidebar-container.mb0
                    span.f-t Звоните нам!
                    span.s-d 8 (812) 821 52 54
                    p г. Санкт-Петербург, ул. Строителей, 25 офис 121
                    a(href="#")
                        | Перезвоните мне


            artical.news-content.catalogs-content.accord.fl-l
                .artical-container
                    .artical-title
                        h3.title
                            | Сертификаты
                    .artical-content.clearfix
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Сертификаты соответствия на поставляемое оборудование
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Сертификаты соответствия Таможенного Союза
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Сертификаты соответствия Таможенного Союза– производство Россия
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Пожарная безопасность
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Сертификаты взрывозащиты
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Сертификаты сейсмостойкости
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Разрешения Ростехнадзора на применение
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Свидетельства о государственной регистрации продукции (СГР)
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                        .catalogs-item
                            ul.page-aside-list
                                li.page-aside-link--active
                                    a(href="#") Европейские сертификаты
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат
                                li
                                    a(href="#") Ссылка на сертификат