extends _layout.pug
block main
    main.vacansy
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Вакансии 
        .container.vacansy-container
            .vacansy-title
                h3.title 
                    | ВАКАНСИИ КОМПАНИИ “АСАО”
            .vacansy-content
                .artical-container
                    .artical-title
                        h2.title
                            | Монтажник-электрик
                    .artical-content.clearfix
                        span Мы предлагаем:
                        ul.vacansy-list
                            li Сдельную оплату труда
                        span Обязанности:
                        ul.vacansy-list
                            li Монтаж электрики.
                        span Требования:
                        ul.vacansy-list
                            li Опыт аналогичной работы от года;
                            li Наличие инструмента;
                            li Наличие авто;
                            li Клиентоориентированность, честность, желание обучаться и развиваться.
                .artical-container
                    .artical-title
                        h2.title
                            | Монтажник сантехнических систем
                    .artical-content.clearfix
                        span Мы предлагаем:
                        ul.vacansy-list
                            li Сдельную оплату труда
                        span Обязанности:
                        ul.vacansy-list
                            li Монтаж электрики.
                        span Требования:
                        ul.vacansy-list
                            li Опыт аналогичной работы от года;
                            li Наличие инструмента;
                            li Наличие авто;
                            li Клиентоориентированность, честность, желание обучаться и развиваться.
                .artical-container
                    .artical-title
                        h2.title
                            | Продавец-консультант
                    .artical-content.clearfix
                        span Мы предлагаем:
                        ul.vacansy-list
                            li Конкурентный уровень дохода после стажировки до 70 тысяч рублей;
                            li Стабильные выплаты заработной платы 3 раза в месяц;
                            li Компенсация питания;
                            li Доплата некурящим сотрудникам;
                            li 13-я заработная плата по результатам работы;
                            li Обучение технике продаж и всем видам инженерных систем с нуля до специалиста;
                            li Обучение работе в 1С;
                            li Карьерный и профессиональный рост.
                        span Мы ждем Вас в своей команде, если:
                        ul.vacansy-list
                            li Вы любите и умеете продавать!
                            li Нацелены на результат!
                            li Хотите учиться и быстро осваиваете новые знания;
                            li Стремитесь к профессиональному развитию.
                        span Вам предстоит:
                        ul.vacansy-list
                            li Консультировать покупателей;
                            li Поддерживать качественную выкладку товара;
                            li Постоянно изучать свойства товара, его новые модификации, преимущества для Клиента;
                            li Выписывать товар в 1С.
                        span Условия работы:
                        ul.vacansy-list
                            li Выходные по скользящему графику, рабочий день пн — сб с 09.00 до 19.00; вс с 09.00 до 18.00;
                        .vac-cntr
                            span
                                | Вакансии открыты по адресам:
                            p.
                                г. Москва 41-й км МКАД (Строительный рынок «Мельница»); <br>
                                в пешей доступности от метро «Щелковская».