extends _layout.pug
block main
    main.catalog_serv
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-item--active-1
                        a(href="#") Главная 
                    li.breadcrumbs-item--active-3
                        a(href="#") Каталог услуг
        .container
            .artical-container
                .artical-title
                    h3.title
                        | каталог услуг
                .artical-content.catalog_serv-content   
                    h3
                        | статья об услугах компании
                    p.
                        Благодаря инженерным системам, сегодня можно решить множество задач, таких как: горячее водоснабжение загородного дома, центральное отопление, установка системы отопления «теплый пол» или радиаторов, удачный монтаж оборудования в соответствии с дизайном помещения и т.д.
                    p.
                        При этом очень важно выбрать как фирму-производителя системы отопления и водоснабжения, так и компанию, которая на выгодных условиях и в сжатые сроки доставит их на Ваш объект, и грамотно произведет монтаж системы отопления и водоснабжения в Вашем доме или на предприятии. Позвонив менеджерам интернет-магазина «ПроТепло-СПб», Вы получите грамотную консультацию, список необходимого оборудования и расчеты стоимости всей системы. Цена на каждую позицию указана на сайте.
            .artical-container
                .artical-content.catalog_serv-items
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c1.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Подбор оборудования
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c2.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Бурение на воду
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c3.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Системы фильтрации
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c4.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Монтажные работы
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c5.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Анализ воды
                .artical-content.catalog_serv-items                        
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c6.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Сервисные центры
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c7.jpg", alt="")
                                .c_s-dscr
                                    span
                                        |Обслуживание
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c8.jpg", alt="")
                                .c_s-dscr
                                    span
                                        |Аренда техники
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c9.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Доставка по России
                        .c_s-item
                            .c-s-cont
                                .c_s-img
                                    img(src="img/c-s/c10.jpg", alt="")
                                .c_s-dscr
                                    span
                                        | Проектирование
        .container
            .artical-container
                .artical-title
                    h3.title
                        | Этапы взаимодействия со 
                        | специалистами торгово-инженерного департамента
                .artical-content
                    .equipment-content-list.catalog_serv-list
                        li                             
                            h4 ПЕРВИЧНАЯ КОНСУЛЬТАЦИЯ И ПОДГОТОВКА ПРЕДЛОЖЕНИЯ
                            p Консультация о вариантах решения задачи, подготовка предложения с подбором оборудования и стоимостью монтажа.
                        li                             
                            h4 4ПРЕДПРОЕКТНЫЕ РАБОТЫ
                            p Заключение договора на разработку проектной документации,  обследование объекта и разработка концепции построения инженерных систем.
                        li                             
                            h4 РА3РАБОТКА ПРОЕКТНОЙ ДОКУМЕНТАЦИИ
                            p Подготовка и согласование технического задания, разработка рабочей документации в соответствии с архитектурным решением.                        li                             
                        li                             
                            h4 СОСТАВЛЕНИЕ ОКОНЧАТЕЛЬНОЙ СМЕТЫ НА ОСНОВАНИИ ПРОЕКТА
                            p Подготовка окончательной сметы, определение сроков поставки оборудования и реализации проекта, заключение договора подряда.
                        li                             
                            h4 ПОСТАВКА ОБОРУДОВАНИЯ И МАТЕРИАЛОВ
                            p Заказ и поставка всего необходимого оборудования в соответствии со сроками реализации проекта.
                        li  
                            h4 МОНТАЖНЫЕ И ПУСКОНАЛАДОЧНЫЕ РАБОТЫ
                            p Выполнение общестроительных подготовительных работ, монтаж основного и вспомогательного оборудования, пусконаладка, испытания системы.                           
                        li                             
                            h4 СДАЧА ОБЪЕКТА В ЭКСПЛУАТАЦИЮ
                            p Сдача готовых инженерных систем заказчику, демонстрация работоспособности, инструктаж пользователей/обслуживающего персонала.
                        li                             
                            h4 СЕРВИСНОЕ И ПРОФИЛАКТИЧЕСКОЕ ОБСЛУЖИВАНИЕ /ОПЦИЯ/
                            p Заключение договора на годовое/ежегодное сервисное и профилактическое обслуживание установленного оборудования.
        .container.bonus-content.montag-info
            .artical-container
                .artical-title
                    h3.title
                        | наше портфолио
                .artical-content.montag-info
                    .bonus-items.montag-slider-wrap.c-s
                        .montag-items-slider
                            .bonus-item
                                .b-img
                                    img(src="img/c-s/s-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Офисное помещение <br>
                                        | 6500 м2
                            .bonus-item
                                .b-img
                                    img(src="img/c-s/s-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Офисное помещение <br>
                                        | 6500 м2
                            .bonus-item
                                .b-img
                                    img(src="img/c-s/s-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Офисное помещение <br>
                                        | 6500 м2
                            .bonus-item
                                .b-img
                                    img(src="img/c-s/s-1.jpg", alt="")
                                .b-dscr
                                    span
                                        | Офисное помещение <br>
                                        | 6500 м2
                    a.cal-back(href='#') Перезвоните мне
            .artical-container
                .artical-title
                    h3.title
                        | как с нами связаться?
                .artical-content.map-content
                    .map-container
                        #map
                        .map-dscr
                            span
                                | Звоните нам!
                            a(href="tel:8(812)8215254")
                                span 
                                    | 8 (812) 821 52 54
                            p
                                | г. Санкт-Петербург, ул. Строителей, 25 <br> офис 121