.footer {
    background-color: $dg;
    .container {
        padding-top: 42px;
        padding-bottom: 40px;
    }
    color: $lg;
    font-size: 12px;
    .white-text {
        color: #fff;
    }
}
.footer-blocks-wrap {
    @include clearfix;
    border-bottom: 1px solid #4e4e4e;
    padding-bottom: 30px;
    font-size: 0;
}
.footer-block {
    font-size: 12px;
    float: left;
    padding-right: 10px;
    &.help {
        width: 25.3%;
        max-width: 314px;
    }
    &.about {
        width: 24.18%;
        max-width: 300px;
    }
    &.contacts {
        text-align: center;
        width: 29%;
        max-width: 430px;
    }
    &.socials {
        float: right;
        width: 14.5%;
        max-width: 180px;
        padding-right: 0;
    }
}
.footer-block__caption {
    text-transform: uppercase;
    border-bottom: 2px solid $ac;
    font-size: 13px;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}

.footer-menu__item {
    a {
        display: inline-block;
        padding: 8px 0;
        transition: color .25s;
        &:hover {
            color: #fff;
        }
    }
}
.footer-items-wrap {
    margin-bottom: 30px;
    &:last-of-type {
        margin-bottom: 0;
    }
    .text-block {
        margin-bottom: 20px;
        text-align: left;
    }
    .call-back {
        display: inline-block;
        text-align: center;
        padding: 6px;
        width: 160px;
        height: 30px;
        background-color: #fff;
        border-radius: 4px;
        color: $dg;
        font-size: 14px;
        @include transition(.25s);
        &:hover {
            background-color: #fc0;
        }
    }
}
.footer-block {
    .line {
        padding: 8px 0;
        line-height: 1.4;
        // text-align: left;
    }
    .subcaption {
        color: #fff;
        font-weight: 700;
        margin-right: 5px;
    }
}
.footer-subscribe {
    @include clearfix;
    input {
        display: block;
        float: left;
        // max-width: 240px;
        width: 70%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 12px;
        color: $lg;
        padding: 6px 20px;
        height: 36px;
        outline: none;
        border: none;
    }
    button {
        display: block;
        float: left;
        // max-width: 104px;
        width: 30%;
        text-align: center;
        font-size: 14px;
        color: #fff;
        padding: 6px;
        background-color: $ac;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 36px;
        border: 1px solid transparent;

        @include transition(.25s);
        &:hover {
            background-color: #373737;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}
.footer-bottom-text {
    text-align: center;
    margin-top: 16px;
    .grey-text {
        margin-bottom: 5px;
    }
}

.socials-footer {
    @include clearfix;
    .socials-item {
        display: inline-block;
        margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    }
    .social {
        font-size: 18px;
        width: 38px;
        height: 36px;
        background-color: #fff;
        transition: background-color .25s;
        text-align: center;
        line-height: 1;
        border-radius: 4px;
        @extend .fa;
        color: $dg;
        &:hover {
            background-color: $ac;
        }
        span {
            text-indent: -9999px;
            overflow: hidden;
            display: inline-block;
        }
        &.vk {
            @extend .fa-vk;
        }
        &.tw {
            font-weight: bold;
            font-size: 20px;
            @extend .fa-instagram;
        }
        &:before {
            display: inline-block;
            line-height: 36px;
            vertical-align: middle;
        }
    }
}


@include breakpoint(1266) {
    .footer-block.about,
    .footer-block.help,
    .footer-block.contacts {
        width: 33.3%;
        max-width: 100%;
        margin-right: 0;
    }
    .footer-block.socials {
        margin: 0 auto;
        float: none;
        clear: both;
        text-align: center;
        padding-top: 20px;
        width: 100%;
        .footer-items-wrap {
            margin-bottom: 20px;
        }
    }
}
@include breakpoint(950) {
    .footer-block.about,
    .footer-block.help {
        width: 22%;
    }
    .footer-block.contacts {
        width: 56%;
        .text-block {
            text-align: center;
        }
    }
    .footer-subscribe {
        width: 310px;
        margin: 0 auto;
        input {
            width: 210px;
        }
        button {
            width: 100px;
        }
    }
}
@include breakpoint(700) {
    .footer-block.about,
    .footer-block.help {
        width: 50%;
        text-align: center;
    }
    .footer-block.contacts {
        width: 100%;
        margin: 0 auto;
        float: none;
        clear: both;
        padding-top: 20px;
        padding-right: 0;
    }
}
@include breakpoint(360) {
    .footer-subscribe{
        width: 250px;
        input{
            width: 150px;
        }
    }
}
// @media screen and (max-width: 1100px) {
//     .footer-block {
//         &.help {
//             width: 20%;
//         }
//         &.about {
//             width: 18%;
//         }
//         &.contacts {
//             width: 42%;
//         }
//         &.socials {
//             width: 20%;
//         }
//     }
// }
// @media screen and (max-width: 900px) {
//     .footer-blocks-wrap {
//         text-align: center;
//     }
//     .footer-block {
//         text-align: left;
//         float: none;
//         display: inline-block;
//         vertical-align: top;
//         &.help {
//             width: auto;
//             padding-right: 30px;
//         }
//         &.about {
//             width: auto;
//             padding-right: 30px;
//         }
//         &.contacts {
//             width: auto;
//         }
//         &.socials {
//             width: auto;
//         }
//     }
// }
// @media screen and (max-width: 600px) {
//     .footer-blocks-wrap {
//         padding-bottom: 0;
//     }
//     .footer-block {
//         text-align: left;
//         float: none;
//         display: inline-block;
//         vertical-align: top;
//         margin-bottom: 30px;
//         &.help {
//             // width: 50%;
//             padding-right: 30px;
//         }
//         &.about {
//             // width: 50%;
//             padding-right: 30px;
//         }
//         &.contacts {
//             width: auto;
//         }
//         &.socials {
//             width: auto;
//             text-align: center;
//         }
//     }
//     .socials-footer {
//         font-size: 0;
//         .socials-item {
//             display: inline-block;
//             float: none;
//         }
//     }
// }
// @media screen and (max-width: 400px) {
//     .footer-block {
//         text-align: left;
//         float: none;
//         display: inline-block;
//         vertical-align: top;
//         margin-bottom: 30px;
//         &.help {
//             // width: 50%;
//             padding-right: 10px;
//         }
//         &.about {
//             // width: 50%;
//             padding-right: 10px;
//         }
//         &.contacts {
//             width: auto;
//             padding: 0;
//         }
//         &.socials {
//             padding: 0;
//             width: auto;
//             text-align: center;
//         }
//     }
//     .footer-subscribe input {
//         width: 186px;
//     }
// }
