.legal-content{
    padding: 20px 0;
    .b-img {
        height: 60px;
        line-height: 60px;
        img {
            vertical-align: middle;
        }
    }
}
.legal-content{

}
.legal-content-form{
    p{
        color: #8a8a8a;
        font-size: 14px;
        text-align: center;
    }
    .form-subscribe-wrap{
        margin: 25px 0;
        text-align: center;
    }
    input{
        width: 250px;
    }
}